<!-- Banner -->		
<section id="banner">

	<div class="inner">

		<!--
		<h2><strong>{{ site.tournament_date }}</strong></h2>
		<h3><strong>{{ site.tournament_location_city_state }}</strong></h3>

		<footer>
			<ul class="buttons vertical">
				<li><a href="#main" class="button fit scrolly">Learn More</a></li>
			</ul>
		</footer>
			
		-->
			
		<h2>CONGRATULATIONS TO EVERYONE WHO COMPETED IN THE 2023 AUSKF CHAMPIONSHIPS!</h2>
		<u><h3><a href="https://drive.google.com/file/d/1H6109MDo8Ieleef9oG8XUUSTC7QihYr6/view?usp=drive_link" target="blank">Tournament Results</a></h3></u>
		Full tournament brackets coming soon!
	</div>
	
</section>
